[submodule "proxies/su3_bench"]
	path = proxies/su3_bench
	url = https://gitlab.com/NERSC/nersc-proxies/su3_bench.git
[submodule "benchmarks/performance/cs-roofline-toolkit"]
	path = benchmarks/performance/cs-roofline-toolkit
	url = https://bitbucket.org/berkeleylab/cs-roofline-toolkit.git
[submodule "benchmarks/performance/rocHPCG"]
	path = benchmarks/performance/rocHPCG
	url = https://github.com/ROCmSoftwarePlatform/rocHPCG
[submodule "proxies/miniWeather"]
	path = proxies/miniWeather
	url = https://github.com/mrnorman/miniWeather.git
[submodule "proxies/KokkosDslash"]
	path = proxies/KokkosDslash
	url = https://github.com/bjoo/KokkosDslash.git
[submodule "HIP-Examples"]
	path = HIP-Examples
	url = https://github.com/ROCm-Developer-Tools/HIP-Examples.git
[submodule "benchmarks/performance/BabelStream"]
	path = benchmarks/performance/BabelStream
	url = https://github.com/UoB-HPC/BabelStream.git
[submodule "applications/cholla"]
	path = applications/cholla
	url = https://github.com/cholla-hydro/cholla.git
[submodule "frameworks/kokkos"]
	path = frameworks/kokkos
	url = https://github.com/kokkos/kokkos.git
[submodule "frameworks/RAJA"]
	path = frameworks/RAJA
	url = https://github.com/LLNL/RAJA.git
[submodule "proxies/BerkeleyGW-Kernels-CPP"]
	path = proxies/BerkeleyGW-Kernels-CPP
	url = https://gitlab.com/NERSC/nersc-proxies/BerkeleyGW-Kernels-CPP.git
